@{
    ViewData["Title"] = "User";
}

<h2 class="text-center">User Dashboard</h2>


<div class="alert alert-warning text-center" role="alert">
    <strong>Αγαπητέ χρήστη,</strong> για να αποκτήσετε πρόσβαση σε αυτήν τη σελίδα, απαιτείται αυθεντικοποίηση μέσω της εταιρείας κινητής τηλεφωνίας μας. Παρακαλούμε επικοινωνήστε μαζί μας ή με έναν από τους εκπροσώπους μας για να ολοκληρώσετε τη διαδικασία αυθεντικοποίησης.
</div>
